<!DOCTYPE html>
<html lang="en">
<head>
  <title>Users</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Users</h2>
  <hr><br>    
  <table class="table table-striped table-bordered table-hover">
    <thead style="background-color:#58210c; color:white">
      <tr>
        <th>Phone Number</th>
        <th>Bank Name</th>
        <th>Bank Account</th>
		<th>Balance</th>
		<th>Bonus</th>
		<th>Password</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0900 781234</td>
        <td>HBL</td>
		<td>123456789</td>
		<td>50000</td>
		<td>50000</td>
        <td>*******</td>
      </tr>
      <tr>
        <td>0932 781234</td>
        <td>Alfalah</td>
		<td>123456789</td>
		<td>85000</td>
		<td>65000</td>
        <td>*******</td>
      </tr>
        <tr>
        <td>0915 781234</td>
        <td>MCB</td>
		<td>123456789</td>
		<td>55000</td>
		<td>6900</td>
        <td>*******</td>
      </tr>
	  <tr>
        <td>0988 781234</td>
        <td>UBL</td>
		<td>123456789</td>
		<td>78000</td>
		<td>33000</td>
        <td>*******</td>
      </tr>
	 
	  <tr>
        <td>......</td>
        <td>......</td>
		<td>......</td>
		<td>......</td>
		<td>......</td>
        <td>......</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
